{% extends "base.html" %}

{% block content %}
<div class="md:container px-2 md:px-0">

<article class="prose md:prose-lg lg:prose-xl md:mt-28 mt-16 mb-16 mx-auto">
    <h1 id="collaborate-with-us">Collaborate With Us</h1>
    <p>There are multiple ways you can collaborate with Coders(hq). This document will go over all the different ways our partners usually collaborate with us. If none of these fit your plan then you could fill up the form at the end stating how you would like to collaborate. Once we receive your request we will confirm if you have been accepted based on our availability and resources.</p>
    <h2 id="about-coders-hq-">About Coders(hq)</h2>
    <p><a href="https://ai.gov.ae">Coders(hq)</a> is a new transformational project that re-defines local coding communities, in partnership with more than 40 companies in the UAE and around the world.</p>
    <p>Coders(hq) has physical location at emirates towers for events and workshops as well as a <a href="https://discord.gg/GebyQ8Hyb5">large developer community</a> that you can tap into and engage. We share our public events with our developer community who attend different workshops related to programming.</p>
    <h2 id="ways-you-can-collaborate">Ways you can collaborate</h2>
    <p>There are five main ways you can collaborate with us at Coders(hq). These are:</p>
    <ul>
    <li><strong>Hackathons</strong>: We can provide the Coders(hq) space for hackathons as we have done with our partners g42, Google and others. Fill <a href="https://aidb.codershq.ae/form/Px3sEVsgTCfeEaa1yxHv8jF9d8oEQSWTMpZyfrglBxs">this form</a> if you would like to set up a hackathon with us.</li>
    <li><strong><a href="https://www.eventbrite.com/o/codershq-38860773473">Sessions</a></strong>: Workshops, lectures and other events to be hosted at Coders(hq) (eg. Microsoft, Oracle and Google workshops at our space in Emirates Towers). Fill <a href="https://aidb.codershq.ae/form/lzXecQn6YJ9ioo4eykwMchZFh3YDtCX-ib2a3T-1qXI">this form</a> if you would like to host a session with us.</li>
    <li><strong>Meetups</strong>: Developer community meetups (Coders(hq) has its own community which you can reach out to set an event and meet with)</li>
    <li><strong><a href="https://github.com/Coders-HQ">Open Source</a></strong>: Coders(hq) has an open source repository at github which you can contribute to at any time</li>
    <li><strong>Connections</strong>: We can provide connections to different local and federal authoroties including private entities</li>
    <li><strong>Other</strong>: If non of the above suits your need then please fill the form stating how you would like to collaborate with Coders(hq)</li>
    </ul>
    <p>The collaboration methods are further detailed below. If you are interested to connect to an entity or to host an event then please read on where we elaborate on these two specifically as they require more management.</p>
    <p>If you know how you would like to collaborate with us then please fill the form below with all the necessary details and we will get back to you as soon as we can.</p>
    <h3 id="sessions">Sessions</h3>
    <p>Sessions can be considered as one off event or a series of events, similar to a workshop style. We allow private and public entities to host sessions using our space in the emirates towers. We can also host online events which we push to our developer network using the Eventbrite
    <strong>Date</strong>: Sessions can be booked for any day of the week, including weekends.
    <strong>Duration</strong>: We are flexible with duration (from an hour to the whole day) and we can even do multiple days.
    Some of our partners choose to do workshops that spans multiple months.
    <strong>Type</strong>: Online/Offline
    <strong>Audience</strong>: General public, beginner/intermediate developers, private</p>
    <p>The <a href="https://www.eventbrite.com/e/ai-robotics-2030-tickets-388534937457?aff=ebdsoporgprofile">AI Robotics 2030</a> event is an example of an online event hosted on Coders(hq) while <a href="https://www.eventbrite.com/e/digitalization-for-nonprofits-tickets-380807695067?aff=ebdsoporgprofile">Digitalization for NonProfits</a> is an example of an offline event.</p>
    <h3 id="hackathons">Hackathons</h3>
    <p>We have conducted multiple hackathons with our partners. If you are a company or you would like to use our space to conduct a hackathon then please fill the form at the end of the document keeping in mind that you need the following information.
    <strong>Date</strong>: Date of session.
    <strong>Duration</strong>: We are flexible with duration (from an hour to the whole day) and we can even do multiple days.
    <strong>Type</strong>: Online/Offline
    <strong>Audience</strong>: General public, beginner/intermediate developers, private
    <strong>Rewards</strong>: Rewards for the winners</p>
    <h3 id="meetups">Meetups</h3>
    <p>You can use our space to conduct meetups. If you have a community that you would like to get involved with the Coders(hq) community you can reach out to us and we will share your details. We also have a Discord server where you can join and see what our community is up to.</p>
    <h3 id="open-source">Open Source</h3>
    <p>You can get involved in our open source projects. We have many projects and they are all available in our Github Page. Please join our <a href="https://discord.gg/GebyQ8Hyb5">Discord</a> channel where you will find more information on how to engage with the developer community. You can find all our projects at our <a href="https://github.com/Coders-HQ">GitHub</a>.</p>
    <h2 id="connections">Connections</h2>
    <p>If you would like to connect to an entity then we can help also. These can be federal, local or private. We will do our best to facilitate that connection. You would need to provide us with the following information. Unfortunately we cannot share details of any entity that is in our network but we can give them your details and it is up to the entity to contact you.
    <strong>Urgency</strong>: How urgent is this request
    <strong>Entity</strong>
    <strong>Contact point</strong> (if available)
    <strong>Reason</strong>
    <strong>Short Proposal</strong>: Please include a short proposal that you would like to send to the entity you would like to contact and we can forward your message.</p>
    <h2 id="logistics">Logistics</h2>
    <p>Catering: We do not provide catering but we can give you the details of our partner who can help with that. If you will bring your own catering service then you need to fill a permit form.
    Pictures/Videos: For pictures and videos you will also need to fill a permit form.</p>
    <h2 id="other">Other</h2>
    <p>If none of the above fit your need then please feel free to come up with your own method and fill <a href="https://aidb.codershq.ae/form/PPmP6A4BcljDXbMmb6GCfODoaFmSug29YA7bYviJa7o">this form</a></p>
    <h3 id="permits">Permits</h3>
    <ul>
    <li>Catering</li>
    <li>Photo/Video</li>
    </ul>
    <h2 id="contact-us">Contact Us</h2>
    <ul>
    <li>codershq@ai.gov.ae</li>
    <li>info@ai.gov.ae</li>
    </ul>
    <h2 id="form">Form</h2>
    <ul>
    <li><a href="https://aidb.codershq.ae/form/Px3sEVsgTCfeEaa1yxHv8jF9d8oEQSWTMpZyfrglBxs">Hackathon Form</a></li>
    <li><a href="https://aidb.codershq.ae/form/lzXecQn6YJ9ioo4eykwMchZFh3YDtCX-ib2a3T-1qXI">Session Form</a></li>
    <li><a href="https://aidb.codershq.ae/form/PPmP6A4BcljDXbMmb6GCfODoaFmSug29YA7bYviJa7o">Other</a></li>
    </ul>
    
</article>
</div>

{% endblock %}