{% extends "base.html" %}


{% block content %}

{% include "./components/header.html" %}
{% include "./components/info_1.html" %}


<iframe src="https://embed.styledcalendar.com/#gKwiYh5Z4rdbaNj0SQGO" title="Styled Calendar"
    class="styled-calendar-container mt-28" style="width: 100%; border: none;" data-cy="calendar-embed-iframe"></iframe>


<div class="mt-5">
    {% include "./components/features.html" %}
</div>


<div class="mt-5">
    {% include "./components/steps.html" %}
</div>


<div class="mt-5">
    {% include "./components/newsletter.html" %}
</div>

{% endblock %}