{% extends "base.html" %}

{% block content %}

<div class="mt-16 md:mt-28">


    <header class="pt-6 px-3 md:px-0 mb-16">
        <div class=" ">
          <h1 class="text-3xl md:text-5xl font-bold tracking-tight text-gray-900">Create Event</h1>
        </div>
      </header>


    <form action="#" method="POST">



        <div class="hidden sm:block" aria-hidden="true">
            <div class="py-5">
                <div class="border-t border-gray-200"></div>
            </div>
        </div>
        {% include "./components/form-organization.html" %}
        <div class="hidden sm:block" aria-hidden="true">
            <div class="py-5">
                <div class="border-t border-gray-200"></div>
            </div>
        </div>


        {% include "./components/form-poc.html" %}
        <div class="hidden sm:block" aria-hidden="true">
            <div class="py-5">
                <div class="border-t border-gray-200"></div>
            </div>
        </div>


        {% include "./components/form-event.html" %}
        <div class="hidden sm:block" aria-hidden="true">
            <div class="py-5">
                <div class="border-t border-gray-200"></div>
            </div>
        </div>


        {% include "./components/form-detail.html" %}
        <div class="hidden sm:block" aria-hidden="true">
            <div class="py-5">
                <div class="border-t border-gray-200"></div>
            </div>
        </div>

        <div class=" px-4 pt-3 pb-16 sm:px-6">
            <button type="submit"
              class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Create Event</button>
          </div>

    </form>



</div>


{% endblock %}