{% extends "base.html" %}

{% block content %}

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-indigo-600 dark:text-indigo-500">Success</h1>
            <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">Your event has been created</p>
            <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">Your event has been added to our que. If the event is accepted you will recieve an email with all the details you need to run your event.</p>
        </div>   
    </div>
</section>

{% endblock %}