<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="p-8 rounded shadow-xl sm:p-16">
      <div class="flex flex-col lg:flex-row">
        <div class="mb-6 lg:mb-0 lg:w-1/2 lg:pr-5">
          <h2 class="font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
            All our public events<br class="hidden md:block" />
            are completely 
            <span class="inline-block text-indigo-600 ">free</span>
          </h2>
        </div>
        <div class="lg:w-1/2">
          <p class="mb-4 text-base text-gray-700">
            Find the event you are interested in below and follow the link to our eventbrite where you can get a free ticket. 
            We use eventbrite to manage our ticketing system and it is also connected to our network.
          </p>
          <a href="https://www.eventbrite.com/o/codershq-38860773473" aria-label="" class="inline-flex items-center font-semibold transition-colors border rounded-xl p-3 duration-200 text-yellow-700 hover:bg-gray-100">Coders(hq) Eventbrite</a>
        </div>
      </div>
    </div>
  </div>