{% load tailwind_filters %}


<div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-lg font-medium leading-6 text-gray-900">Point of Contact</h3>
          <p class="mt-1 text-sm text-gray-600">Please fill the information of the person that we should contact.</p>
        </div>
      </div>
      <div class="mt-5 md:col-span-2 md:mt-0">
          <div class="overflow-hidden sm:rounded-md">
            <div class="bg-white px-4 py-5 sm:p-6">
           
              {{form2|crispy}}
            </div>
          </div>
      </div>
    </div>
  </div>
  