
{% load tailwind_filters %}

<div>
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Organization</h3>
        <p class="mt-1 text-sm text-gray-600">Tell us about your organization. If your event is private then please fill the organisation name and click private.
        </p>
      </div>
    </div>
    <div class="mt-5 md:col-span-2 md:mt-0">

        <div class=" sm:overflow-hidden sm:rounded-md">
          <div class="space-y-6 bg-white px-4 py-5 sm:p-6">


           
                  {{ form|crispy }}
                  

          </div>
        </div>
    </div>
  </div>
</div>






